/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerRegular.woff2") format("woff2"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerMedium.woff2") format("woff2"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/Muller/MullerBold.woff2") format("woff2"), url("../fonts/Muller/MullerBold.woff") format("woff"), url("../fonts/Muller/MullerBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Muller", sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url(../images/shape-bg.png) no-repeat center top, url(../images/bg-pattern.png) #f1f5ff;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 15px;
}

.section {
  padding: 100px 0;
  border-top: 1px solid #DDE1EB;
  border-bottom: 1px solid #DDE1EB;
}

.red {
  color: #F23828;
}

.purple {
  color: #758BFD;
}

.tac {
  text-align: center;
}

.btn {
  width: 300px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFDB5C;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Muller", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #88701C;
  cursor: pointer;
}

.btn:hover {
  background: #EBC748;
}

.btn:active {
  background: #FFDB5C;
}

.rangeslider {
  background: #DFE1F3;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.rangeslider__fill {
  background: #758BFD;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.rangeslider .rangeslider__handle {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  top: -16px;
  cursor: pointer;
  background: #ffffff;
  border: 10px solid  #758BFD;
}

.rangeslider .rangeslider__handle:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(117, 139, 253, 0.3);
          box-shadow: 0px 4px 10px rgba(117, 139, 253, 0.3);
}

.slick-slide,
.slick-arrow,
button {
  outline: none;
}

.xl100 {
  width: 100%;
}

.xl50 {
  width: -webkit-calc(50% - 15px);
  width: -moz-calc(50% - 15px);
  width: calc(50% - 15px);
}

.xl33 {
  width: -webkit-calc(33.333% - 20px);
  width: -moz-calc(33.333% - 20px);
  width: calc(33.333% - 20px);
}

.xl25 {
  width: -webkit-calc(25% - 20px);
  width: -moz-calc(25% - 20px);
  width: calc(25% - 20px);
}

@media screen and (max-width: 1200px) {
  .lg100 {
    width: 100%;
  }
  .lg50 {
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 980px) {
  .md100 {
    width: 100%;
  }
  .md50 {
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 768px) {
  .sm100 {
    width: 100%;
  }
  .sm50 {
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 480px) {
  .xs100 {
    width: 100%;
  }
}

.header {
  padding: 35px 0;
}

.logo__round {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 20px;
}

.logo__text {
  display: block;
  width: 131px;
  height: auto;
}

.phone {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #272830;
}

.phone:hover {
  opacity: 0.7;
}

.banner {
  padding: 20px 0 100px;
}

.banner__wrapper {
  max-width: 990px;
}

.banner__title {
  position: relative;
  font-weight: normal;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #272830;
  margin: 0 0 20px;
}

.banner__title::before {
  position: absolute;
  top: 25px;
  left: -100px;
  content: '';
  width: 77px;
  height: 12px;
  background: url(../images/icons.svg#circles) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.banner__subtitle {
  display: block;
  margin: 20px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #3B3C44;
}

.banner__slider {
  margin: 40px 0 0;
}

.banner__slider_btn {
  width: 360px;
  height: 90px;
  margin-bottom: 30px;
}

.banner__slider_ps {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #272830;
}

.banner__slider_text {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #272830;
}

.banner__slider_label {
  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #272830;
}

.banner__slider_input {
  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #272830;
  text-align: right;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 200px;
  height: 34px;
  display: block;
  margin-right: 10px;
  background: none;
  cursor: default;
  outline: none;
  padding: 0;
}

.banner__swiper {
  margin: 40px 0 30px;
}

.banner__swiper_labels {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #888C9F;
}

.preim {
  padding-top: 80px;
}

.preim__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

.preim__item {
  width: -webkit-calc(33.333% - 26px);
  width: -moz-calc(33.333% - 26px);
  width: calc(33.333% - 26px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.preim__item i {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: url(../images/icons.svg#check) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.preim__item_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #3B3C44;
  margin: 18px 0 0;
}

.preim__item_text b {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #272830;
}

.preim__text {
  margin: 50px auto;
  max-width: 850px;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #272830;
}

.preim__btn {
  margin: 0 auto;
}

.wie-work {
  padding-bottom: 0;
}

.wie-work__title {
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  color: #272830;
}

.wie-work__subtitle {
  display: block;
  text-align: center;
  margin: 30px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #3B3C44;
}

.steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px auto 0;
  width: 100%;
  max-width: 560px;
}

.steps__slider {
  margin: 0 -15px;
}

.steps__slide {
  padding: 60px 15px 100px;
}

.steps__slide_container {
  position: relative;
  z-index: 2;
  max-width: 840px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.steps__slide_container::after {
  position: absolute;
  content: '';
  left: 10px;
  right: 10px;
  bottom: -10px;
  height: 30px;
  background: #E7EBF5;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.steps__slide_container::before {
  position: absolute;
  content: '';
  left: 20px;
  right: 20px;
  bottom: -30px;
  height: 140px;
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
  background: #272830;
  opacity: 0.1;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.steps__slide_img {
  position: relative;
  z-index: 2;
  width: 340px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-border-radius: 10px 0px 0px 10px;
          border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.steps__slide_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps__slide_text {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  min-height: 300px;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  background: #ffffff;
  color: #3B3C44;
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
}

.step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.333%;
  height: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #888C9F;
  border: 1px solid #DDE1EB;
  border-right: none;
}

.step:hover {
  color: #272830;
}

.step:first-child {
  -webkit-border-radius: 10px 0 0 10px;
          border-radius: 10px 0 0 10px;
}

.step:last-child {
  border: 1px solid #DDE1EB;
  -webkit-border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
}

.step.active {
  background: #FFDB5C;
  border-color: #FFDB5C;
  color: #88701C;
  font-weight: bold;
}

.step.active + .step {
  border-left-color: #FFDB5C;
}

.wie-get__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #dde1eb;
}

.wie-get__item {
  width: -webkit-calc(33.333% - 26px);
  width: -moz-calc(33.333% - 26px);
  width: calc(33.333% - 26px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wie-get__item_icon {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #E1E0F0;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.wie-get__item_icon1 {
  background-image: url(../images/icons.svg#passport);
  -webkit-background-size: 20px 26px;
          background-size: 20px 26px;
}

.wie-get__item_icon2 {
  background-image: url(../images/icons.svg#credit-card);
  -webkit-background-size: 26px 26px;
          background-size: 26px 26px;
}

.wie-get__item_icon3 {
  background-image: url(../images/icons.svg#timer);
  -webkit-background-size: 24px 26px;
          background-size: 24px 26px;
}

.wie-get__item_text {
  display: block;
  padding-top: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #3B3C44;
}

.wie-get__item_num {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  color: #272830;
}

.wie-get__systems {
  padding: 80px 0 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.wie-get__system {
  width: -webkit-calc(25% - 22.5px);
  width: -moz-calc(25% - 22.5px);
  width: calc(25% - 22.5px);
  height: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #DDE1EB;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.wie-get__system img {
  max-width: 100%;
  display: block;
  max-height: 100%;
}

.wie-get__ps {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #272830;
}

.reviews__title {
  text-align: center;
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #272830;
}

.reviews__title strong {
  display: block;
}

.reviews__slider {
  margin: 0 auto;
}

.reviews__slider .slick-list {
  padding: 0 80px;
}

.reviews__slider .slick-arrow {
  position: absolute;
  top: -webkit-calc(50% - 40px);
  top: -moz-calc(50% - 40px);
  top: calc(50% - 40px);
  left: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 2px solid #FFDB5C;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  font-size: 0;
  color: transparent;
  background: url(../images/icons.svg#arrow) no-repeat center;
  -webkit-background-size: 20px 18px;
          background-size: 20px 18px;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.reviews__slider .slick-arrow.slick-disabled {
  opacity: 0;
}

.reviews__slider .slick-arrow:hover {
  background-color: #FFDB5C;
  -webkit-box-shadow: 0px 10px 40px rgba(255, 219, 92, 0.2);
          box-shadow: 0px 10px 40px rgba(255, 219, 92, 0.2);
}

.reviews__slider .slick-arrow:active {
  background-color: #EBC748;
  border-color: #EBC748;
}

.reviews__slider .slick-next {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  left: auto;
  right: 0;
}

.reviews__btn {
  margin: 0 auto;
}

.review {
  margin: 0 20px;
  padding: 70px 0 80px;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.review.slick-active {
  opacity: 1;
}

.review__container {
  position: relative;
  z-index: 2;
}

.review__container::after {
  position: absolute;
  content: '';
  left: 10px;
  right: 10px;
  bottom: -10px;
  height: 30px;
  background: #E7EBF5;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.review__container::before {
  position: absolute;
  content: '';
  left: 20px;
  right: 20px;
  bottom: -30px;
  height: 140px;
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
  background: #272830;
  opacity: 0.1;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.review__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #0B132A;
  padding: 0 30px 30px;
  background: #ffffff;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}

.review__top {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 20px;
  background: #ffffff;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
}

.review__img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__name {
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.review__city {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  color: #3B3C44;
}

.logo--footer {
  margin: 0 auto;
  max-width: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background: #22232B;
}

.footer-top {
  padding: 55px 0;
}

.footer-top__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__text {
  width: 50%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #505260;
}

.footer-top__text strong {
  display: block;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 0.05em;
  color: #505260;
}

.footer-top__links {
  width: 50%;
}

.footer-top__link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #505260;
}

.footer-top__link:hover {
  color: #ffffff;
}

.footer-top__link:first-child {
  margin-bottom: 25px;
}

.footer-bottom {
  background: #272830;
  padding-bottom: 25px;
}

.footer-bottom__text {
  padding: 10px 0 5px;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #505260;
  border-bottom: 1px solid rgba(80, 82, 96, 0.4);
}

.footer-bottom__text p {
  margin: 25px 0;
}

.footer-bottom__text strong {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #505260;
}

.data {
  padding: 55px 0 100px;
}

.data__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data__left {
  width: 360px;
  margin-right: 60px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.data__title {
  margin: 30px 0 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #272830;
}

.data__time {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.data__time::before {
  position: absolute;
  z-index: -1;
  left: -2px;
  bottom: 16px;
  content: '';
  width: 100%;
  height: 6px;
  background: #FFDB5C;
}

.data__chance {
  margin: 40px 0;
}

.data__chance_title {
  display: block;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #888C9F;
}

.data__chance_line {
  position: relative;
  width: 100%;
  height: 12px;
  background: #DFE1F3;
  -webkit-border-radius: 130px;
          border-radius: 130px;
}

.data__chance_current, .data__chance_maybe {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 130px;
          border-radius: 130px;
  background: #758BFD;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.data__chance_current {
  z-index: 2;
}

.data__chance_maybe {
  background: rgba(117, 139, 253, 0.4);
}

.data__steps {
  margin: 40px 0;
  position: relative;
}

.data__steps_mobile-line {
  position: absolute;
  z-index: -1;
  left: 17px;
  top: 14px;
  content: '';
  width: 1px;
  height: 145px;
  background: #D3D7E1;
}

.data__steps_mobile-line i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  background: #FFDB5C;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
}

.data__step {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #888C9F;
  padding: 12px 0 12px 67px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
}

.data__step.active {
  font-weight: bold;
  padding: 16px 0 16px 67px;
}

.data__step.active .data__step_num {
  left: 0;
  top: 5px;
  width: 34px;
  height: 34px;
  border: 3px solid #FFDB5C;
}

.data__step.pointed .data__step_num {
  border-color: #FFDB5C;
  color: #FFDB5C;
}

.data__step_num {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 20px;
  height: 20px;
  border: 2px solid #D3D7E1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: url(../images/bg-pattern.png) no-repeat center, #f1f5ff;
  font-size: 0;
  color: transparent;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
}

.form {
  position: relative;
  width: -webkit-calc(100% - 420px);
  width: -moz-calc(100% - 420px);
  width: calc(100% - 420px);
}

.form::after {
  position: absolute;
  content: '';
  left: 10px;
  right: 10px;
  bottom: -10px;
  height: 30px;
  background: #E7EBF5;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.form::before {
  position: absolute;
  content: '';
  left: 30px;
  right: 30px;
  bottom: -70px;
  height: 140px;
  height: -webkit-calc(100% - 70px);
  height: -moz-calc(100% - 70px);
  height: calc(100% - 70px);
  background: #272830;
  opacity: 0.1;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.form__container {
  position: relative;
  z-index: 2;
  min-height: 500px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 40px 40px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__container::before {
  position: absolute;
  content: '';
  top: 35px;
  left: -18px;
  width: 36px;
  height: 65px;
  background: url(../images/icons.svg#dekor) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.form__header {
  margin-bottom: 30px;
  width: 100%;
}

.form__header_title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #272830;
}

.form__slider {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
     -moz-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
}

.form__slider .slick-list {
  margin: 0 -20px;
}

.form__footer {
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__footer_divider {
  display: none;
}

.form__next-btn {
  width: 160px;
  height: 50px;
  padding-top: 3px;
}

.form__prev-btn {
  position: absolute;
  left: 0;
  height: 50px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.1em;
  color: #888C9F;
  cursor: pointer;
}

.form__prev-btn:hover {
  color: #272830;
}

.form__prev-btn:hover::before {
  background-image: url(../images/icons.svg#prev-arrow-hover);
}

.form__prev-btn::before {
  position: absolute;
  left: 0;
  top: 16px;
  content: '';
  width: 8px;
  height: 14px;
  background: url(../images/icons.svg#prev-arrow) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.form[data-step='1'] .form__prev-btn,
.form[data-step='5'] .form__header,
.form[data-step='5'] .form__footer,
.form[data-step='6'] .form__summ {
  display: none;
}

.form__summ.active .form__summ_label {
  border-color: #DFE1F3;
}

.form__summ.active .form__summ_text::after {
  display: none;
}

.form__summ_text {
  position: relative;
  display: block;
  padding-top: 3px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: #888C9F;
}

.form__summ_text::after {
  position: absolute;
  top: 2px;
  right: -22px;
  content: '';
  width: 14px;
  height: 14px;
  background: url(../images/icons.svg#edit) no-repeat center;
  -webkit-background-size: contain;
          background-size: contain;
}

.form__summ_label {
  height: 40px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 3px 15px 0;
}

.form__summ_label span {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #272830;
  margin-left: 5px;
}

.form__summ_input {
  display: block;
  max-width: 105px;
  text-align: right;
  font-family: Muller, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #272830;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
}

.form__step {
  margin: 0 20px;
  padding-bottom: 30px;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.form__step.slick-active {
  opacity: 1;
}

.form__step_title {
  display: none;
}

.form__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.soglasie {
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.soglasie input {
  display: none;
}

.soglasie input:checked ~ .soglasie__custom {
  background: url(../images/icons.svg#soglasie) no-repeat center, #758BFD;
  -webkit-background-size: 18px 13px;
          background-size: 18px 13px;
  border: none;
}

.soglasie.error .soglasie__custom {
  border-color: #F23828;
}

.soglasie__custom {
  display: block;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 20px;
  border: 2px solid #888C9F;
}

.soglasie.alert .soglasie__custom {
  border-color: #F23828;
}

.soglasie__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  color: #888C9F;
}

.soglasie__text b, .soglasie__text a {
  font-weight: 500;
}

.label {
  position: relative;
  display: block;
  margin: 10px 0;
}

.label__title {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #272830;
}

.label__register {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.label__register input {
  display: none;
}

.label__register input:checked ~ .label__register_custom {
  border: 6px solid #758BFD;
  background: #ffffff;
}

.label__register_custom {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #888C9F;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.label__register_text {
  padding-top: 3px;
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #888C9F;
}

#liveAddress {
  display: none;
}

#liveAddress.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  width: 100%;
  display: block;
  height: 54px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #DFE1F3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0 20px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #000;
  outline: none;
}

.input:focus, .input:active {
  border-color: #888C9F;
}

.input::-webkit-input-placeholder {
  opacity: 1;
  color: #888C9F;
}

.input:-moz-placeholder {
  opacity: 1;
  color: #888C9F;
}

.input::-moz-placeholder {
  opacity: 1;
  color: #888C9F;
}

.input:-ms-input-placeholder {
  opacity: 1;
  color: #888C9F;
}

.input::-ms-input-placeholder {
  opacity: 1;
  color: #888C9F;
}

.input::placeholder {
  opacity: 1;
  color: #888C9F;
}

.input.error {
  border-color: #F23828;
}

.input-capitalize {
  text-transform: capitalize;
}

.error-info {
  position: absolute;
  bottom: -17px;
  right: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  color: #F23828;
}

.gender {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.gender input {
  display: none;
}

.gender input:checked ~ .gender__radio_custom {
  background: #DFE1F3;
}

.gender__radio {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50%;
  height: 100%;
}

.gender__radio_custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__title {
  display: block;
  margin: 10px 0 35px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  color: #272830;
}

.loading__text {
  margin: 35px 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #272830;
}

.loading__progress {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F5FF;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  border: 8px solid #F1F5FF;
}

.loading__progress_text {
  position: relative;
  z-index: 5;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #888C9F;
}

.loading__progress_line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #FFDB5C;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  -webkit-transition: width 5s ease-in-out;
  -o-transition: width 5s ease-in-out;
  -moz-transition: width 5s ease-in-out;
  transition: width 5s ease-in-out;
}

.loading__progress_line::before {
  position: absolute;
  z-index: 2;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/loading.png);
  -webkit-animation: loading 1s linear infinite;
     -moz-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 22px 0;
  }
}

@-moz-keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 22px 0;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 22px 0;
  }
}

.card__ps {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #888C9F;
}

.card__alert {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 440px;
  background: url(../images/icons.svg#alert) no-repeat 20px 20px, #FFC4B4;
  -webkit-background-size: 25px 25px;
          background-size: 25px 25px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0px 0px 5px 5px;
          border-radius: 0px 0px 5px 5px;
  border-top: 5px solid #F23828;
  padding: 15px 25px 15px 65px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #234E52;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.card__alert.active {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.card__flex {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.card__front {
  position: relative;
  z-index: 2;
  margin-bottom: 75px;
}

.card__front_container {
  position: relative;
  z-index: 2;
  background: #F1F5FF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 35px 45px;
  width: 420px;
  height: 235px;
}

.card__front::before {
  position: absolute;
  top: 0;
  left: 30px;
  content: '';
  width: 100%;
  height: -webkit-calc(100% + 45px);
  height: -moz-calc(100% + 45px);
  height: calc(100% + 45px);
  bottom: -30px;
  right: -30px;
  background: #0D1025;
  opacity: 0.06;
  -webkit-filter: blur(114px);
          filter: blur(114px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.card__front_flex {
  width: 100%;
  padding-top: 17px;
}

.card__front_pays {
  padding-top: 30px;
  width: 180px;
  margin: 0 -4px;
}

.card__front_pays img {
  display: block;
  width: -webkit-calc(25% - 4px);
  width: -moz-calc(25% - 4px);
  width: calc(25% - 4px);
  height: auto;
}

.card__back {
  position: absolute;
  top: 42px;
  right: 0;
  width: 420px;
  height: 235px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 60px;
  background: #F1F5FF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.card__back::before {
  position: absolute;
  top: 19px;
  left: 0;
  width: 100%;
  content: '';
  background: #FFFFFF;
  height: 46px;
}

.card__label_title {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #272830;
}

.card__label--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 138px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.card__label--cvv {
  width: 140px;
}

.card__input {
  text-align: center;
  padding: 0;
  height: 46px;
  font-size: 17px;
}

.card__input--date {
  width: -webkit-calc(50% - 4px);
  width: -moz-calc(50% - 4px);
  width: calc(50% - 4px);
}

.results {
  padding: 30px 0 60px;
}

.results__text {
  text-align: center;
  margin-bottom: 60px;
}

.results__title {
  margin: 0 0 25px;
  font-weight: 500;
  font-size: 34px;
  line-height: 54px;
  letter-spacing: 0.05em;
  color: #272830;
}

.results__title--line {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.results__title--line::before {
  position: absolute;
  z-index: -1;
  left: -2px;
  bottom: 14px;
  content: '';
  width: 100%;
  height: 6px;
  background: #FFDB5C;
}

.results__subtitle {
  display: inline-block;
  max-width: 570px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;
  color: #3B3C44;
}

.results__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 60px -20px 0;
}

.result {
  width: 25%;
  padding: 0 20px;
  margin-bottom: 50px;
  position: relative;
}

.result::after {
  position: absolute;
  content: '';
  left: 30px;
  right: 30px;
  bottom: -10px;
  height: 30px;
  background: #E7EBF5;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.result::before {
  position: absolute;
  content: '';
  left: 40px;
  right: 40px;
  bottom: -30px;
  height: 140px;
  height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px);
  background: #272830;
  opacity: 0.15;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.result__container {
  position: relative;
  z-index: 2;
  padding: 30px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.result__title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  text-align: center;
}

.result__title img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.result__title::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 1px;
  bottom: 0;
  background: #DFE1F3;
  left: -webkit-calc(50% - 50px);
  left: -moz-calc(50% - 50px);
  left: calc(50% - 50px);
}

.result__tth {
  list-style: none;
  margin: 0;
  padding: 35px 0 20px;
}

.result__tth_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.result__btn {
  width: 100%;
  height: 50px;
  font-size: 13px;
}

@media only screen and (max-width: 1170px) {
  .banner__wrapper {
    max-width: 100%;
  }
  .banner__title::before {
    display: none;
  }
  .data {
    padding-top: 40px;
  }
  .data__wrapper {
    display: block;
  }
  .data__left {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
  .data__title {
    margin: 0 0 40px;
    text-align: center;
  }
  .data__steps {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 400px;
    height: 30px;
    margin: 40px auto;
  }
  .data__steps_mobile-line {
    position: absolute;
    left: 0;
    top: 14px;
    display: block;
    width: 100%;
    height: 1px;
    background: #D3D7E1;
  }
  .data__steps_mobile-line i {
    height: 100%;
    width: 0;
  }
  .data__chance {
    max-width: 400px;
    margin: 40px auto;
  }
  .data__step {
    padding: 0;
  }
  .data__step.active {
    padding: 0;
  }
  .data__step.active .data__step_num {
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 24px;
    font-size: 14px;
    color: #FFDB5C;
  }
  .data__step_text {
    display: none;
  }
  .data__step_num {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: #888C9F;
  }
  .data__step_num::before {
    display: none;
  }
  .form {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .result {
    width: 33.333%;
  }
}

@media only screen and (max-width: 980px) {
  .preim__flex {
    display: block;
  }
  .preim__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .wie-get__flex {
    display: block;
    max-width: 600px;
    margin: 80px auto 0;
    padding-bottom: 40px;
  }
  .wie-get__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .result {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background: url(../images/bg-pattern.png) #f1f5ff;
  }
  .btn {
    height: 70px;
  }
  .header {
    padding: 25px 0;
  }
  .banner {
    padding-bottom: 70px;
  }
  .banner__subtitle {
    margin: 15px 0;
    font-size: 18px;
    line-height: 28px;
  }
  .banner__title {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .banner__title strong {
    color: #758BFD;
    white-space: nowrap;
  }
  .banner__slider_text {
    font-size: 18px;
  }
  .banner__slider_input {
    font-size: 24px;
    margin-right: 5px;
    height: 24px;
    max-width: 120px;
  }
  .banner__slider_label {
    font-size: 24px;
  }
  .banner__slider_btn {
    width: 100%;
    max-width: 330px;
    margin: 0 auto 20px;
  }
  .banner__slider_ps {
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .banner__swiper {
    margin: 40px 0;
  }
  .banner__swiper_labels {
    padding-top: 15px;
    font-size: 14px;
  }
  .footer-top {
    padding: 30px 0;
  }
  .footer-top__wrapper {
    display: block;
    text-align: center;
  }
  .footer-top__text {
    width: 100%;
    font-size: 16px;
  }
  .footer-top__text strong {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .footer-top__text span {
    display: block;
    margin-bottom: 25px;
  }
  .footer-top__links {
    width: 100%;
  }
  .footer-top__link:first-child {
    margin-bottom: 20px;
  }
  .footer-bottom__text {
    padding: 20px 0 0;
    font-size: 10px;
    line-height: 16px;
  }
  .footer-bottom__text p {
    margin: 0 0 20px;
  }
  .footer-bottom__text strong {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .section {
    padding: 70px 0;
  }
  .preim {
    padding-top: 30px;
  }
  .preim__flex {
    margin-bottom: 50px;
  }
  .preim__item i {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .preim__item_text {
    margin-top: 12px;
    line-height: 28px;
  }
  .preim__item_text b {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1;
  }
  .preim__text {
    margin: 50px 0 40px;
    font-size: 24px;
    line-height: 40px;
  }
  .preim__btn {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }
  .wie-work {
    padding-bottom: 0;
  }
  .wie-work__title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .wie-work__subtitle {
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
  }
  .steps {
    margin: 30px auto 0;
  }
  .steps__slide {
    padding: 40px 15px 80px;
  }
  .steps__slide_container {
    display: block;
  }
  .steps__slide_img {
    height: 200px;
    width: 100%;
    -webkit-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
  }
  .steps__slide_text {
    padding: 20px;
    font-size: 16px;
    line-height: 28px;
    display: block;
    min-height: 0;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
  }
  .step {
    height: 50px;
    font-size: 16px;
  }
  .wie-get__flex {
    margin-top: 50px;
    padding-bottom: 10px;
  }
  .wie-get__item_icon {
    margin-right: 15px;
  }
  .wie-get__systems {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0 25px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .wie-get__system {
    width: -webkit-calc(50% - 8px);
    width: -moz-calc(50% - 8px);
    width: calc(50% - 8px);
    margin-bottom: 16px;
    height: 60px;
  }
  .wie-get__system img {
    max-height: 75%;
    max-width: 75%;
  }
  .wie-get__ps {
    font-size: 16px;
    line-height: 26px;
  }
  .reviews__title {
    font-size: 24px;
    line-height: 40px;
  }
  .reviews__slider {
    margin: 0 -15px;
  }
  .reviews__slider .slick-list {
    padding: 0 15px;
  }
  .reviews .slick-arrow {
    top: auto;
    bottom: 50px;
  }
  .reviews .slick-arrow.slick-disabled {
    opacity: 1;
  }
  .reviews .slick-prev {
    left: -webkit-calc(50% - 95px);
    left: -moz-calc(50% - 95px);
    left: calc(50% - 95px);
  }
  .reviews .slick-next {
    right: -webkit-calc(50% - 95px);
    right: -moz-calc(50% - 95px);
    right: calc(50% - 95px);
  }
  .reviews__btn {
    width: 100%;
    max-width: 330px;
  }
  .review {
    margin: 0;
    padding: 40px 0 160px;
  }
  .review__text {
    padding: 0 20px 20px;
  }
  .review__top {
    padding: 25px 20px 20px;
  }
  .data {
    padding-top: 5px;
  }
  .data__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .data__time::before {
    height: 5px;
    bottom: 7px;
  }
  .data__chance {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 360px;
    background: #272830;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(11, 19, 42, 0.15);
            box-shadow: 0px 0px 20px 5px rgba(11, 19, 42, 0.15);
    -webkit-border-radius: 60px 60px 0px 0px;
            border-radius: 60px 60px 0px 0px;
    margin: 0;
    padding: 20px 16px 12px;
    text-align: center;
  }
  .data__chance_title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 12px;
  }
  .data__chance_line {
    height: 10px;
  }
  .data__steps {
    margin: 15px auto 25px;
  }
  .form {
    margin: 0 -15px;
    width: auto;
  }
  .form__container {
    -webkit-border-radius: 0 0 20px 20px;
            border-radius: 0 0 20px 20px;
    padding: 25px 15px 20px;
    min-height: 0;
  }
  .form__container::before {
    display: none;
  }
  .form__header {
    display: none;
  }
  .form__step_title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #272830;
    margin-bottom: 15px;
  }
  .form__next-btn {
    width: 130px;
    height: 46px;
  }
  .form__prev-btn {
    height: 46px;
    position: static;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
       -moz-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .form__footer {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .form__footer_divider {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
       -moz-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .label {
    margin: 10px 0 15px;
  }
  .label__title {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: -6px;
    font-size: 12px;
    background: #ffffff;
    white-space: nowrap;
  }
  .label__register {
    margin: 8px 0 20px;
  }
  .input {
    height: 46px;
    font-size: 14px;
    padding: 0 19px;
  }
  .gender {
    padding: 0;
  }
  .soglasie {
    margin: 5px 0 25px;
  }
  .soglasie input:checked ~ .soglasie__custom {
    -webkit-background-size: 16px 12px;
            background-size: 16px 12px;
  }
  .soglasie__custom {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .soglasie__text {
    font-size: 10px;
    line-height: 16px;
  }
  .loading__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .loading__text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    margin: 20px 0 30px;
  }
  .loading__progress {
    margin: 30px 0 50px;
  }
  .loading__progress_text {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -42px;
    text-align: center;
  }
  .card__ps {
    font-size: 10px;
    line-height: 18px;
    max-width: 350px;
    margin: 0 auto;
  }
  .card__flex {
    max-width: 350px;
    margin: 0 auto;
    padding-right: 20px;
  }
  .card__front {
    width: 100%;
    margin-bottom: 140px;
  }
  .card__front_container {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .card__front_pays {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 100px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-top: 12px;
  }
  .card__front_pays img {
    width: auto;
    max-width: -webkit-calc(50% - 4px);
    max-width: -moz-calc(50% - 4px);
    max-width: calc(50% - 4px);
    margin: 4px 0;
    max-height: 20px;
  }
  .card__back {
    height: 184px;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 20px;
    bottom: 20px;
    top: auto;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card__back::before {
    top: 44px;
    height: 40px;
  }
  .card__label--cvv {
    width: 100%;
  }
  .card__label--flex {
    width: 150px;
  }
  .card__label_title {
    font-size: 14px;
  }
  .card__input {
    height: 40px;
    padding: 0 10px;
  }
  .results {
    padding-top: 20px;
  }
  .results__text {
    margin-bottom: 25px;
  }
  .results__title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .results__title--line {
    white-space: nowrap;
  }
  .results__title--line::before {
    height: 6px;
    bottom: 8px;
  }
  .results__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .results__list {
    margin-top: 25px;
    margin: 0 -8px;
  }
  .result {
    padding: 0 8px;
    margin-bottom: 20px;
  }
  .result__container {
    padding: 0 12px 12px;
  }
  .result__title {
    height: 65px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .result__title img {
    max-width: 75%;
    max-height: 75%;
  }
  .result__btn {
    height: 40px;
    font-size: 9px;
  }
  .result__tth {
    padding: 25px 0 5px;
  }
  .result__tth_item {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .logo__round {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .logo__text {
    width: 96px;
  }
  .phone {
    font-size: 16px;
  }
}

@media only screen and (max-width: 359px) {
  .logo__round {
    margin-right: 5px;
  }
  .result__tth_item {
    display: block;
  }
  .result__tth_item strong {
    display: block;
  }
  .results__title {
    font-size: 16px;
    line-height: 26px;
  }
  .results__title--line::before {
    height: 5px;
    bottom: 5px;
  }
  .results__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .error-info {
    font-size: 11px;
  }
}
/*# sourceMappingURL=main.css.map */